.body{
    margin: 0px;
    padding: 0px;
    background-color: wheat;
}
.navbar{
    width: 100%;
    height: 80px;
    box-shadow: 0px 0px 5px white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    align-items: center;
    top: 0%;
    position: fixed;
    background-color: rgb(255, 255, 255); 
}
.logo{
    display: flex;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    align-items: center;
    gap: 9px;
}
.logo > p::first-letter{
    font-size: 60px;
    color: #5b3113;
}
.logo_img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 5px;
}
.logo_img > img{
    width: 100%;   
}
.list{
    display: flex;
    color: balck;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 30px;
    list-style-type: none;
    font-weight: bold;
}
.check_cart{
    color: red;
}
.item:hover{
    color: #b08f7a;
    text-decoration: underline;
}
.slide{
    width: 100%;
    height: 400px;
    box-shadow: 0px 0px 5px gray;
    background-color: black;
    margin-top: 90px;
    overflow: hidden;
}

.header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    font-size: 50px;
    color: #b08f7a;
    text-align: center;
}
.header::first-letter{
    font-size: 70px;
    color: #5b3113;
    
}
.slide > img{
    width: 100%;
}
.product{
    gap: 10px;
    padding: 20px 110px;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    background-color: rgb(244, 237, 226);
    
}
.cart{
    width: 350px;
    height: 630px;
    box-shadow: 0px 0px 5px #ffdbdd;
    border-radius: 20px;
    background-color: white;
}
.box_image{
    width: 100%;
    height: 50%;
    background-color: blanchedalmond;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}
.box_image > img{
    width: 100%;
    object-fit: cover;
}
.title{
    width: 90%;
    height: 40%;
    margin: auto;
}
.name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    display: block;
    padding: 20px 0px 0px 0px;
}
.star{
    color: rgb(239, 253, 41);

}
.price{
    font-size: 20px;
}
.price:hover{
    color:red;
}
.btn{
    width: 100%;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #5b3113;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}