.box{
    width: 500px;
    height: 500px;
    border: 15px solid rgb(250, 250, 160);
    border-radius: 100%;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 10px yellow;
    box-sizing: border-box;
    position: relative;
}
.box > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.box > .dot{
    border: 5px solid white;
    border-radius: 100%;
    position: absolute;
    height: 17%;
    width: 17%;
    background-color: green;
    right: 30px;
    bottom: 15px;


}