.body{
    width: 70%;
    height: 90vh;
    border: 2px solid black;
    border-radius: 0px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 40px;
    display: flex;
    
}
.image{
    width: 50%;
    height: 90%;
    margin-top: 35px;
    margin-left: 40px;
    border-radius: 30px;
    overflow: hidden;

}
.image > img{
    width: 100% ;
    height: 100%;
    object-fit: cover;  
}
.form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}
.form > head{
    font-size: 50px;
    text-align: center;
}